
.row
  .col-sm-4
    .expander
      a#js-expander-trigger.expander-trigger.expander-hidden(href='javascript:void(0)') Expandable section
      #js-expander-content.expander-content
        p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio mollitia fugiat facilis enim accusamus quisquam aut, repellendus incidunt quod optio facere labore illo numquam ipsum beatae vero debitis, fugit excepturi.        

  .col-sm-8
    h1 Filters
    #betterness

  .col-sm-4
    #chart
  .col-sm-8
    ul.accordion-project
      li
        a.js-accordion-trigger(href='javascript:void(0)') Accordion Item
        div.task
          p Sub Item 1
          p Sub Item 2
      li
        a.js-accordion-trigger(href='javascript:void(0)') Another Item
        div.task
          p Sub Item 1
          p Sub Item 2
