.accordion-project {  
  $gutter: 1em;
  $base-border-color: gainsboro !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $accordion-project-border-color: $base-border-color;
  $accordion-project-color: $base-font-color;
  $accordion-project-border: 1px solid $accordion-project-border-color;
  $accordion-project-background: lighten($accordion-project-border-color, 10%);
  $accordion-project-hover: lighten($accordion-project-background, 2%);
  $accordion-task-background: darken($accordion-project-background, 5%);
  $accordion-task-inset: darken($accordion-task-background, 6%);
  $accordion-task-hover: lighten($accordion-task-background, 2%);
  $accordion-project-list-padding: ($base-spacing / 2) $gutter;
  

  $expander-arrow-width: 0.7em;
  $expander-toggle-size: 1em;
  $expander-toggle-arrow-size: $expander-toggle-size;
  $expander-toggle-margin: 1em;



//  width: 60%;


  background-color: $accordion-project-background;
  border: $accordion-project-border;
  margin: 0 0 $base-spacing 0;
  padding: 0;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    border-bottom: $accordion-project-border;
    list-style: none;

    > a {
      color: $accordion-project-color;
      display: block;
      padding: $accordion-project-list-padding;
      text-decoration: none;
    }
 

    &:last-child {
      border: none;
    }

    &:focus,
    &:hover {
      background-color: $accordion-project-hover;
    }
  }

  div.task {
    display: none;

    p {
      background-color: $accordion-task-background;

      &:first-child {
        border-top: $accordion-project-border;
        box-shadow: inset 0 1px 1px $accordion-task-inset;
      }
      
      &:focus,
      &:hover {
        background-color: $accordion-task-hover;
      }
    }
  }

  .is-expanded {
    display: block;
    padding-bottom: 0;
  }
}
